# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
/.vs/legacystfrancis/FileContentIndex/1ccfe223-a8f5-4bb9-8ecb-e1e86fe55373.vsidx
/.vs/legacystfrancis/FileContentIndex/merges/214ccfc6-55ff-4137-a404-b94068fe92ca.vsidx
/.vs/legacystfrancis/FileContentIndex/write.lock
/.gitignore
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/legacystfrancis/v17/.wsuo
*.vsidx
