@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@300;400;500&display=swap');

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    opacity: 0.2;
    border-radius: 70%;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #a0a0a0;
}

:root {
    font-family: 'Spectral SC';
}


.print {
    display: none
}

@media print {
    .screen {
        display: none;
    }
    .print {
        display: block;
    }
}